*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section nav a, footer nav a{
    color: #FFF;
}

section{
    height: 85vh;
}

section.header{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

div.banner::after{
    content: "";
    display: inline-block;
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    left: calc(50% - 28px);
    bottom: -28px;
    background-color: #FF0000;
}

section.header header{
    background-color: rgba(0, 0, 0, .4);
}
section.header, footer{
    color: white;
}
section.header .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 717px;
}
section.header .banner p{
    width: 800px;
}
section .container, footer .container{
    width: 900px;
    margin: 0 auto;
}

section.contact .container{
    width: 600px;
}

section.header header .container{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav li{
    padding: 33px 40px;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service, footer{
    background-color: #28272C;
}



section.blog, section.service{
text-align: center;
}
section.blog .lead, section.service .lead, section.contact form{
    display: flex;
}

section.blog .lead div, section.service .lead div{
    flex-grow: 1;
}

section.contact form input{
    width: 100%;
}



footer .footer-elements, footer nav{
    display: flex;
}

footer nav ul{
    list-style: none;
}